.container{
  width: 90%;
  margin: 0 auto;
  text-align: center;
}
.highcharts__pref{
  margin-bottom: 40px;
  text-align: left;
}
.checkbox{
  margin: 5px;
  display: inline-block;
}


@media (max-width:480px) {
  .container{
    width: 99%;
  }
  h1{
    font-size: 24px;
  }
}
